#navLogo {
  max-height: 50px;
  animation: spin 4s infinite alternate ease-in-out;
  position: relative;
}
#logo{
  animation:roll 4s infinite alternate ease-in-out;
}
#leagueLogo
{
  width: 150px;
}
.nav-link {
  border: 1px solid gray;
  border-radius: 5px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item:hover {
  background-color: rgb(45, 121, 51, 0.3);
}

#navbar {
  margin-bottom: 25px;
  color: white;
}

.navbar-nav li .nav-link
{
  color: white;
}



@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(720deg);}
}
@keyframes roll {
  to{margin-left:1700%;}
}
